In [1]:
import pandas as pd
import os
from pathlib import Path

from sqlalchemy import create_engine
import psycopg2

from config import db_password
from config import db_username

In [2]:
file_path = "../Data/Speed Dating Data.csv"
raw_df = pd.read_csv(file_path, encoding="ISO-8859-1")
raw_df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [41]:
list(raw_df)

['iid',
 'id',
 'gender',
 'idg',
 'condtn',
 'wave',
 'round',
 'position',
 'positin1',
 'order',
 'partner',
 'pid',
 'match',
 'int_corr',
 'samerace',
 'age_o',
 'race_o',
 'pf_o_att',
 'pf_o_sin',
 'pf_o_int',
 'pf_o_fun',
 'pf_o_amb',
 'pf_o_sha',
 'dec_o',
 'attr_o',
 'sinc_o',
 'intel_o',
 'fun_o',
 'amb_o',
 'shar_o',
 'like_o',
 'prob_o',
 'met_o',
 'age',
 'field',
 'field_cd',
 'undergra',
 'mn_sat',
 'tuition',
 'race',
 'imprace',
 'imprelig',
 'from',
 'zipcode',
 'income',
 'goal',
 'date',
 'go_out',
 'career',
 'career_c',
 'sports',
 'tvsports',
 'exercise',
 'dining',
 'museums',
 'art',
 'hiking',
 'gaming',
 'clubbing',
 'reading',
 'tv',
 'theater',
 'movies',
 'concerts',
 'music',
 'shopping',
 'yoga',
 'exphappy',
 'expnum',
 'attr1_1',
 'sinc1_1',
 'intel1_1',
 'fun1_1',
 'amb1_1',
 'shar1_1',
 'attr4_1',
 'sinc4_1',
 'intel4_1',
 'fun4_1',
 'amb4_1',
 'shar4_1',
 'attr2_1',
 'sinc2_1',
 'intel2_1',
 'fun2_1',
 'amb2_1',
 'shar2_1',
 'attr3_1',
 'sinc3_1',
 'fun3_1',
 'intel3_1',
 'amb3_1',
 'attr5_1',
 'sinc5_1',
 'intel5_1',
 'fun5_1',
 'amb5_1',
 'dec',
 'attr',
 'sinc',
 'intel',
 'fun',
 'amb',
 'shar',
 'like',
 'prob',
 'met',
 'match_es',
 'attr1_s',
 'sinc1_s',
 'intel1_s',
 'fun1_s',
 'amb1_s',
 'shar1_s',
 'attr3_s',
 'sinc3_s',
 'intel3_s',
 'fun3_s',
 'amb3_s',
 'satis_2',
 'length',
 'numdat_2',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'attr1_2',
 'sinc1_2',
 'intel1_2',
 'fun1_2',
 'amb1_2',
 'shar1_2',
 'attr4_2',
 'sinc4_2',
 'intel4_2',
 'fun4_2',
 'amb4_2',
 'shar4_2',
 'attr2_2',
 'sinc2_2',
 'intel2_2',
 'fun2_2',
 'amb2_2',
 'shar2_2',
 'attr3_2',
 'sinc3_2',
 'intel3_2',
 'fun3_2',
 'amb3_2',
 'attr5_2',
 'sinc5_2',
 'intel5_2',
 'fun5_2',
 'amb5_2',
 'you_call',
 'them_cal',
 'date_3',
 'numdat_3',
 'num_in_3',
 'attr1_3',
 'sinc1_3',
 'intel1_3',
 'fun1_3',
 'amb1_3',
 'shar1_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr3_3',
 'sinc3_3',
 'intel3_3',
 'fun3_3',
 'amb3_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

## Extracting data for our ERD PERSON table

In [76]:
# Table person in our ERD
person_df = raw_df[['iid', 'wave', 'id', 'gender', 'age', 'race', 'field', 
                    'imprace', 'imprelig', 'goal', 'date', 'go_out', 'sports',
                    'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking',
                    'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies',
                    'concerts', 'music', 'shopping', 'yoga']]
person_df.columns = ['person_id', 'wave_id', 'wave_person_id', 'gender', 'age', 'race', 'field', 'importance_race',
                     'importance_religion', 'goal', 'freq_date', 'freq_go_out', 'interest_sports', 'interest_tvsports',
                     'interest_exercise', 'interest_dining', 'interest_museums', 'interest_art', 'interest_hiking',
                     'interest_gaming', 'interest_clubbing', 'interest_reading', 'interest_tv', 'interest_theater',
                     'interest_movies', 'interest_concerts', 'interest_music', 'interest_shopping', 'interest_yoga']
person_df.set_index('person_id', inplace=True)
person_df = person_df.drop_duplicates()
#person_df=person_df.reset_index(drop=True)

person_df = person_df.dropna(axis='rows')

person_df.sample(2)

#person_df

,wave_id,wave_person_id,gender,age,race,field,importance_race,importance_religion,goal,freq_date,...,interest_gaming,interest_clubbing,interest_reading,interest_tv,interest_theater,interest_movies,interest_concerts,interest_music,interest_shopping,interest_yoga
person_id,,,,,,,,,,,,,,,,,,,,,
463,18,4.0,1,23.0,4.0,physics,3.0,2.0,2.0,7.0,...,5.0,4.0,5.0,4.0,4.0,4.0,4.0,7.0,3.0,1.0
447,17,8.0,1,26.0,4.0,Public Policy,1.0,1.0,1.0,7.0,...,2.0,5.0,6.0,3.0,4.0,8.0,4.0,9.0,2.0,4.0

## Extracting data for our ERD SD_WAVE table

In [30]:
sd_wave_df = raw_df[['wave']].drop_duplicates()
sd_wave_df.rename(columns = {'wave':'wave_id'}, inplace = True)

# Adding the dates of the events (info only available in the documentation)
wave_date = ['10/16/2002', '10/23/2002', '11/12/2002', '11/12/2002', '11/20/2002', '03/26/2003', '03/26/2003', '04/02/2003', 
             '04/02/2003', '09/24/2003', '09/24/2003', '10/07/2003', '10/08/2003', '10/08/2003', '02/24/2004', '02/25/2004',
             '02/25/2004', '04/06/2004', '04/06/2004', '04/07/2004', '04/07/2004']
sd_wave_df['wave_date'] = wave_date
sd_wave_df.set_index('wave_id', inplace=True)
sd_wave_df.sample(2)

          wave_date
wave_id
6        03/26/2003
18       04/06/2004

## Extracting data for our ERD sd_wave_pair table

In [157]:
sd_wave_pair_df = raw_df[['wave', 'iid', 'pid', 'attr', 'sinc', 'intel',
                          'fun', 'amb', 'shar', 'dec', 'match']]
sd_wave_pair_df.sample(2)

      wave  iid    pid  attr  sinc  intel  fun   amb  shar  dec  match
4904    13  328  338.0   5.0   7.0    7.0  5.0  10.0   5.0    0      0
8335    21  551  510.0  10.0   9.0    9.0  7.0   7.0   8.0    1      0

In [158]:
questions = ['What do you look for in the opposite sex?',
             'What do you think MOST of your fellow men/women look for in the opposite sex?',
             'What do you think the opposite sex looks for in a date?',
             'How do you think you measure up?',
             'How do you think others perceive you?',
             'Distribute 100-points among the six attributes in the way that best reflects the actual importance of these attributes in your decisions']
question_ids = [1, 4, 2, 3, 5, 7]    

survey_question_df = pd.DataFrame({'question_id': question_ids, 'question': questions})
survey_question_df.set_index('question_id', inplace=True)
survey_question_df.sample(2)

                                                      question
question_id
7            Distribute 100-points among the six attributes...
3                             How do you think you measure up?

## Extracting data for our ERD preference_perception table

In [169]:
pref_percep_df = raw_df[['wave', 'iid', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1']].drop_duplicates()
pref_percep_df.rename(columns = {'attr1_1':'attr', 'sinc1_1': 'sinc', 'intel1_1': 'intel', 'fun1_1': 'fun', 'amb1_1': 'amb', 'shar1_1': 'shar'}, inplace = True)
pref_percep_df['phase'] = 1
pref_percep_df['question'] = 1

aux_df = raw_df[['wave', 'iid', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2']].drop_duplicates()
aux_df.rename(columns = {'attr1_2':'attr', 'sinc1_2': 'sinc', 'intel1_2': 'intel', 'fun1_2': 'fun', 'amb1_2': 'amb', 'shar1_2': 'shar'}, inplace = True)
aux_df['phase'] = 1
aux_df['question'] = 2
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3']].drop_duplicates()
aux_df.rename(columns = {'attr1_3':'attr', 'sinc1_3': 'sinc', 'intel1_3': 'intel', 'fun1_3': 'fun', 'amb1_3': 'amb', 'shar1_3': 'shar'}, inplace = True)
aux_df['phase'] = 1
aux_df['question'] = 3
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

     wave  iid  attr  sinc  intel   fun   amb  shar  phase  question
234    10  236  15.0  20.0   15.0  20.0  15.0  15.0      1         1
818    11  269  20.0  10.0   40.0  10.0  10.0  10.0      1         2

In [170]:
aux_df = raw_df[['wave', 'iid', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1']].drop_duplicates()
aux_df.rename(columns = {'attr4_1':'attr', 'sinc4_1': 'sinc', 'intel4_1': 'intel', 'fun4_1': 'fun', 'amb4_1': 'amb', 'shar4_1': 'shar'}, inplace = True)
aux_df['phase'] = 4
aux_df['question'] = 1
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2']].drop_duplicates()
aux_df.rename(columns = {'attr4_2':'attr', 'sinc4_2': 'sinc', 'intel4_2': 'intel', 'fun4_2': 'fun', 'amb4_2': 'amb', 'shar4_2': 'shar'}, inplace = True)
aux_df['phase'] = 4
aux_df['question'] = 2
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3']].drop_duplicates()
aux_df.rename(columns = {'attr4_3':'attr', 'sinc4_3': 'sinc', 'intel4_3': 'intel', 'fun4_3': 'fun', 'amb4_3': 'amb', 'shar4_3': 'shar'}, inplace = True)
aux_df['phase'] = 4
aux_df['question'] = 3
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid   attr   sinc  intel    fun    amb   shar  phase  question
1287     8  187  16.67  18.52  18.52  14.81  14.81  16.67      1         3
1528    16  428    NaN    NaN    NaN    NaN    NaN    NaN      1         3

In [171]:
aux_df = raw_df[['wave', 'iid', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1']].drop_duplicates()
aux_df.rename(columns = {'attr2_1':'attr', 'sinc2_1': 'sinc', 'intel2_1': 'intel', 'fun2_1': 'fun', 'amb2_1': 'amb', 'shar2_1': 'shar'}, inplace = True)
aux_df['phase'] = 2
aux_df['question'] = 1
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2']].drop_duplicates()
aux_df.rename(columns = {'attr2_2':'attr', 'sinc2_2': 'sinc', 'intel2_2': 'intel', 'fun2_2': 'fun', 'amb2_2': 'amb', 'shar2_2': 'shar'}, inplace = True)
aux_df['phase'] = 2
aux_df['question'] = 2
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3']].drop_duplicates()
aux_df.rename(columns = {'attr2_3':'attr', 'sinc2_3': 'sinc', 'intel2_3': 'intel', 'fun2_3': 'fun', 'amb2_3': 'amb', 'shar2_3': 'shar'}, inplace = True)
aux_df['phase'] = 2
aux_df['question'] = 3
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

     wave  iid  attr  sinc  intel   fun   amb  shar  phase  question
833    11  284  25.0  15.0   20.0  20.0  20.0   0.0      1         2
346    14  348  15.0  25.0   15.0  15.0  15.0  15.0      1         1

In [172]:
aux_df = raw_df[['wave', 'iid', 'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1']].drop_duplicates()
aux_df.rename(columns = {'attr3_1':'attr', 'sinc3_1': 'sinc', 'intel3_1': 'intel', 'fun3_1': 'fun', 'amb3_1': 'amb'}, inplace = True)
aux_df['phase'] = 3
aux_df['question'] = 1
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2']].drop_duplicates()
aux_df.rename(columns = {'attr3_2':'attr', 'sinc3_2': 'sinc', 'intel3_2': 'intel', 'fun3_2': 'fun', 'amb3_2': 'amb'}, inplace = True)
aux_df['phase'] = 3
aux_df['question'] = 2
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3']].drop_duplicates()
aux_df.rename(columns = {'attr3_3':'attr', 'sinc3_3': 'sinc', 'intel3_3': 'intel', 'fun3_3': 'fun', 'amb3_3': 'amb'}, inplace = True)
aux_df['phase'] = 3
aux_df['question'] = 3
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun   amb  shar  phase  question
1879     9  228   8.0   3.0    5.0   7.0   4.0   7.0      4         1
3579    11  275  10.0  15.0   20.0  15.0  15.0  25.0      2         1

In [173]:
aux_df = raw_df[['wave', 'iid', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1']].drop_duplicates()
aux_df.rename(columns = {'attr5_1':'attr', 'sinc5_1': 'sinc', 'intel5_1': 'intel', 'fun5_1': 'fun', 'amb5_1': 'amb'}, inplace = True)
aux_df['phase'] = 5
aux_df['question'] = 1
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2']].drop_duplicates()
aux_df.rename(columns = {'attr5_2':'attr', 'sinc5_2': 'sinc', 'intel5_2': 'intel', 'fun5_2': 'fun', 'amb5_2': 'amb'}, inplace = True)
aux_df['phase'] = 5
aux_df['question'] = 2
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']].drop_duplicates()
aux_df.rename(columns = {'attr5_3':'attr', 'sinc5_3': 'sinc', 'intel5_3': 'intel', 'fun5_3': 'fun', 'amb5_3': 'amb'}, inplace = True)
aux_df['phase'] = 5
aux_df['question'] = 3
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel  fun  amb  shar  phase  question
5075     5  117   8.0   7.0    8.0  8.0  8.0   0.0      3         1
4996     2   38   8.0   2.0    8.0  7.0  8.0   0.0      3         1

In [164]:
aux_df = raw_df[['wave', 'iid', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s']].drop_duplicates()
aux_df.rename(columns = {'attr1_s':'attr', 'sinc1_s': 'sinc', 'intel1_s': 'intel', 'fun1_s': 'fun', 'amb1_s': 'amb'}, inplace = True)
aux_df['phase'] = 1
#aux_df['question'] = 's'
aux_df['question'] = 0
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s']].drop_duplicates()
aux_df.rename(columns = {'attr3_s':'attr', 'sinc3_s': 'sinc', 'intel3_s': 'intel', 'fun3_s': 'fun', 'amb3_s': 'amb'}, inplace = True)
aux_df['phase'] = 3
#aux_df['question'] = 's'
aux_df['question'] = 0
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel   fun  amb  shar  phase  question
6656     2   45   NaN   NaN    NaN   NaN  NaN   0.0      5         1
3396     4   91  65.0   0.0    8.0  20.0  2.0   5.0      2         1

In [174]:
aux_df = raw_df[['wave', 'iid', 'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2']].drop_duplicates()
aux_df.rename(columns = {'attr7_2':'attr', 'sinc7_2': 'sinc', 'intel7_2': 'intel', 'fun7_2': 'fun', 'amb7_2': 'amb'}, inplace = True)
aux_df['phase'] = 7
aux_df['question'] = 2
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)

aux_df = raw_df[['wave', 'iid', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3']].drop_duplicates()
aux_df.rename(columns = {'attr7_3':'attr', 'sinc7_3': 'sinc', 'intel7_3': 'intel', 'fun7_3': 'fun', 'amb7_3': 'amb'}, inplace = True)
aux_df['phase'] = 7
aux_df['question'] = 3
aux_df['shar'] = 0
pref_percep_df = pref_percep_df.append(aux_df, ignore_index=True)
pref_percep_df.sample(2)

      wave  iid  attr  sinc  intel  fun  amb  shar  phase  question
1681     2   29   NaN   NaN    NaN  NaN  NaN   NaN      4         1
6938    13  328   9.0  10.0   10.0  8.0  8.0   0.0      5         1

In [175]:
pref_percep_df.columns = ['wave_id', 'person_id', 'attractve', 'sincere', 'intelligent', 'fun', 'ambitious', 'shared_interest',
                          'survey_phase', 'question_id']
pref_percep_df = pref_percep_df.dropna(axis='rows')
pref_percep_df['self'] = 0

In [176]:
pref_percep_df

,wave_id,person_id,attractve,sincere,intelligent,fun,ambitious,shared_interest,survey_phase,question_id,self
0,1,1,15.0,20.0,20.0,15.0,15.0,15.0,1,1,0
1,1,2,45.0,5.0,25.0,20.0,0.0,5.0,1,1,0
2,1,3,35.0,10.0,35.0,10.0,10.0,0.0,1,1,0
3,1,4,20.0,20.0,20.0,20.0,10.0,10.0,1,1,0
4,1,5,20.0,5.0,25.0,25.0,10.0,15.0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9359,21,545,20.0,20.0,20.0,20.0,10.0,0.0,7,3,0
9360,21,546,40.0,0.0,0.0,40.0,0.0,0.0,7,3,0
9362,21,548,40.0,10.0,20.0,10.0,0.0,0.0,7,3,0
9363,21,549,40.0,0.0,30.0,30.0,0.0,0.0,7,3,0
9366,21,552,70.0,0.0,20.0,10.0,0.0,0.0,7,3,0

## Transferring data to the database

In [12]:
# Connect to the database
#db_string = f"postgresql://{db_username}:{db_password}@localhost:5432/movie_data"
db_string = f"postgresql://{db_username}:{db_password}@localhost:5432/SpeedDate"
engine = create_engine(db_string)

In [42]:
sd_wave_df.to_sql(name='sd_wave', con=engine, if_exists='append')

In [77]:
person_df.to_sql(name='person', con=engine, if_exists='append', index=True)

In [89]:
survey_question_df.to_sql(name='survey_question', con=engine, if_exists='append')

In [87]:
survey_question_df

   question_id                                           question
0            1          What do you look for in the opposite sex?
1            4  What do you think MOST of your fellow men/wome...
2            2  What do you think the opposite sex looks for i...
3            3                   How do you think you measure up?
4            5              How do you think others perceive you?
5            7  Distribute 100-points among the six attributes...

In [177]:
pref_percep_df.to_sql(name='preference_perception', con=engine, if_exists='append', index=False)